<h3 class="ui header">{{t "forms.i-i-s-otdel-клиенты-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фИО
      class=(if (v-get validationModel "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-клиенты-e.фИО-caption")
      data-test-i-i-s-otdel-клиенты-e-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фИО" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.иНН
      class=(if (v-get validationModel "иНН" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-клиенты-e.иНН-caption")
      data-test-i-i-s-otdel-клиенты-e-иНН=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "иНН" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кПП
      class=(if (v-get validationModel "кПП" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-клиенты-e.кПП-caption")
      data-test-i-i-s-otdel-клиенты-e-кПП=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кПП" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.телефон
      class=(if (v-get validationModel "телефон" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-клиенты-e.телефон-caption")
      data-test-i-i-s-otdel-клиенты-e-телефон=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "телефон" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.местоРаботы
      class=(if (v-get validationModel "местоРаботы" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-клиенты-e.местоРаботы-caption")
      data-test-i-i-s-otdel-клиенты-e-местоРаботы=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "местоРаботы" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.юрАдрес
      class=(if (v-get validationModel "юрАдрес" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-клиенты-e.юрАдрес-caption")
      data-test-i-i-s-otdel-клиенты-e-юрАдрес=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "юрАдрес" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фактАдрес
      class=(if (v-get validationModel "фактАдрес" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-клиенты-e.фактАдрес-caption")
      data-test-i-i-s-otdel-клиенты-e-фактАдрес=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фактАдрес" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.стажРаботы
      class=(if (v-get validationModel "стажРаботы" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-клиенты-e.стажРаботы-caption")
      data-test-i-i-s-otdel-клиенты-e-стажРаботы=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "стажРаботы" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номКрДог
      class=(if (v-get validationModel "номКрДог" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-клиенты-e.номКрДог-caption")
      data-test-i-i-s-otdel-клиенты-e-номКрДог=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номКрДог" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.расчСчет
      class=(if (v-get validationModel "расчСчет" "isInvalid") "error")
      label=(t "forms.i-i-s-otdel-клиенты-e.расчСчет-caption")
      data-test-i-i-s-otdel-клиенты-e-расчСчет=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "расчСчет" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-клиенты-e.заклКрДог-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.заклКрДог
      displayAttributeName="цельКр"
      autocomplete=true
      relationName="заклКрДог"
      projection="ЗаклКрДогL"
      title=(t "forms.i-i-s-otdel-клиенты-e.заклКрДог-caption")
      readonly=readonly
      componentName="заклКрДогLookup"
      class=(if (v-get validationModel "заклКрДог" "isInvalid") "error")
      data-test-i-i-s-otdel-клиенты-e-заклКрДог=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "заклКрДог" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-клиенты-e.проверкаКрКл-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.проверкаКрКл
      displayAttributeName="наличЗалога"
      autocomplete=true
      relationName="проверкаКрКл"
      projection="ПроверкаКрКлL"
      title=(t "forms.i-i-s-otdel-клиенты-e.проверкаКрКл-caption")
      readonly=readonly
      componentName="проверкаКрКлLookup"
      class=(if (v-get validationModel "проверкаКрКл" "isInvalid") "error")
      data-test-i-i-s-otdel-клиенты-e-проверкаКрКл=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "проверкаКрКл" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otdel-клиенты-e.погашКр-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.погашКр
      displayAttributeName="дата"
      autocomplete=true
      relationName="погашКр"
      projection="ПогашКрL"
      title=(t "forms.i-i-s-otdel-клиенты-e.погашКр-caption")
      readonly=readonly
      componentName="погашКрLookup"
      class=(if (v-get validationModel "погашКр" "isInvalid") "error")
      data-test-i-i-s-otdel-клиенты-e-погашКр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "погашКр" "message")}}
  </div>
</form>
